*.exe
# === auto-managed large files (>5MB) ===
bin/server

# BEGIN AUTO-MANAGED LARGE FILES (>5MB)
# END AUTO-MANAGED LARGE FILES

# === auto-managed large files (github-commit-push-all) ===
node_modules/
